body, html {
    height: 100%;
    width: 100%;
    background: #2A3A51;
    color: #333;
    overflow-y: hidden;
}

.center {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'Red Hat Display', sans-serif;
}

.top3 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: flex-end;
    color: #4B4168;
}
.top3 .item {
    box-sizing: border-box;
    position: relative;
    background: #FFC26B;
    width: 9rem;
    height: 10rem;
    text-align: center;
    padding: 2.8rem 0 0;
    margin: 1rem 1rem 0.8rem;
    border-radius: 10px;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos img {
    width: 40px;
}
.top3 .item .pic {
    position: absolute;
    top: -2rem;
    left: 2.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.top3 .item .name {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.top3 .item .today_score {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-bottom: 0.5rem;
}
.top3 .item .score {
    opacity: 0.5;
}
.top3 .item .score:after {
    display: block;
    opacity: 0.5;
}
.top3 .item.one {
    width: 10rem;
    height: 11rem;
    padding-top: 3.5rem;
}
.top3 .item.one .pic {
    width: 5rem;
    height: 5rem;
    left: 2.5rem;
}
.top3 .item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.logo {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    height: 7%;
}
.logo img {
    width: 30rem;
}
.list {
    margin: 0 auto;
    height: 81%;
    overflow: hidden;
}
/*.item-list {
    height: 96%;
}*/
.list .item-list .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 6.3%;
    width: 100%;
    margin-bottom: 0.2rem;
    -webkit-transform-origin: left;
    transform-origin: left;
    cursor: pointer;
}
.list .item .one-item {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    /*-webkit-transform-origin: left;
    transform-origin: left;*/
    /*cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;*/
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.list .item .pos img {
    width: 2rem;
    height: 2rem;
}
.list .item .pos {
    font-weight: 900;
    position: absolute;
    left: -2rem;
    text-align: center;
    font-size: 1.25rem;
    width: 1.5rem;
    color: white;
    opacity: 0.6;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.list .item .pic {
    width: 2.5rem;
    height: 100%;
    border-radius: 10px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.list .item .name {
    font-size: 1.1rem;
    width: 6rem;
}
.list .item .today_score {
    margin-left: 2.5rem;
    opacity: 0.5;
    font-size: 0.8rem;
    float: left;
    width: 4rem;
}
.list .item .score {
    float: right;
    width: 7rem;
    margin-left: 5rem;
    font-size: 22px;
}
.list .item .score:after {
    margin-right: 1rem;
    opacity: 0.5;
}
.list .item .badge {
    margin-right: 3rem;
}
.list .item .badge img{
    width: 2rem;
    height: 2rem;
}
/*.list .item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}*/
/*.list .item:hover .pos {
    opacity: 0.8;
}*/
.duty {
    margin: 0 auto;
}
.duty .item {
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: #F04A4C;
    height: 3rem;
    border-radius: 4rem;
    margin-bottom: 2rem;
    padding-left: 2em;
    -webkit-transform-origin: left;
    transform-origin: left;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.duty .item .title {
    width: 18%;
}
.duty .item .name {
    -webkit-box-flex: 2;
    flex-grow: 2;
    flex-basis: 7rem;
    font-size: 1.1rem;
    padding-left: 1em;
}
.duty .item .update_time {
    margin-right: 1.5rem;
    opacity: 0.5;
    font-size: 0.8rem;
}
#leaderboard_update_time-div {
    text-align: right;
    margin-bottom: 0.5em;
}
#leaderboard_update_time-div span {
    font-size: 0.8em;
    color: #CCC;
    margin-right: 1.5rem;
}
.logo img {
    width: 300px;
}